<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
   <a href="https://www.facebook.com/erhies.fekarurhobo/">Erhies Fekarurhobo </a> Is a Good man. An Aerospace engineer by education but a very cocky man by profession.<a href="https://www.facebook.com/anna.milczarek.58?fref=ts">Anna Milczarek. </a> knows she can do a better job in building a site.  
</p>
   <a href="https://www.facebook.com/erhies.fekarurhobo/">Erhies </a> leads an imaginary life, where he is 'happily' married and has three little daughters with <a href="https://www.facebook.com/anna.milczarek.58?fref=ts">Anna. </a>
</p> 
   Sadly, the truth is that Erhies remains in the Mental Institute of Ottawa at the moment. Hopefuly with all these new therapies, he will come back to us soon :(!
</p>   
