<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
   <a href="https://www.facebook.com/erhies.fekarurhobo/">Erhies Fekarurhobo </a> Is a Good man. An Aerospace engineer by education but an Explorer of life by profession. He is Happily married to <a href="https://www.facebook.com/anna.milczarek.58?fref=ts">Anna Milczarek. </a> They have three lovely girls together.
</p>
