<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
   <a href="https://www.facebook.com/erhies.fekarurhobo/">Erhies Fekarurhobo </a> Is a Good man. An Aerospace engineer by education but an Explorer of life by profession.<a href="https://www.facebook.com/anna.milczarek.58?fref=ts">Anna Milczarek. </a> thinks she can do a better job in building a site, well she sucks and she can't! 
</p>
