<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can email the creator of this Website at
  <a href=mailto:erhiesfeka@yahoo.com">erhiesfeka@yahoo.com</a>. Or add him on facebook
  <a href="https://www.facebook.com/erhies.fekarurhobo">Erhies Fekarurhobo</a>.
</p>