<div class="center hero-unit">
<h1>Welcome to Ratatat</h1>
<h2>
  This is the home page for Ratatat a web application developed by Erhies Using rails. This application is one of the many methods he has used to conquer his boredom. If you would like to add him on facebook 
  <a href="https://www.facebook.com/erhies.fekarurhobo/">follow the link!</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
