<% provide(:title, 'School') %>
<h1>Links to Drop Boxes</h1>
<p>
<ul>
 <li>For Aerospace propulsion <a href="https://www.dropbox.com/sh/hfjkplyu633k5rz/AACHLW1HEnUvi7Sx7HbQxd0Ja?dl=0">click here</a></li>
  <li>For Gas turbine Project <a href= "https://www.dropbox.com/sh/jxipqqiyhxwkl7m/AADIag19Ydcd0mzoKJbzAJj5a?dl=0">click here</a></li>
</ul>
</p>