<footer class="footer">
  <small>
    <a href="https://www.facebook.com/RATATAT?fref=ts">Ratatat</a>
    by Erhies Fekarurhobo
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/erhies.fekarurhobo">FaceBook</a></li>
    </ul>
  </nav>
</footer>